html, body {
    justify-content: center;
    background: #000;
}
.main-container {
    padding-top: 100px;
    padding-bottom: 400px;
    justify-content: center;
}
.stage-link-container {
    width: clamp(1px, 80vw, 400px);
    margin: 0 auto 100px auto;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.stage-text {
    font-size: clamp(1px, 4.8vw, 24px);
    margin-bottom: clamp(1px, 1.6vw, 8px);
    color: #555;
    font-weight: bold;
    text-align: center;
    user-select: none;
}
.stage-phrase {
    font-size: clamp(1px, 4.5vw, 22.5px);
    margin-bottom: 100px;
    color: #aaa;
    font-weight: bold;
    text-align: center;
    user-select: none;
}
.stage-title {
    font-size: clamp(1px, 6vw, 30px);
    color: #333;
    font-weight: bold;
    text-align: center;
    user-select: none;
    margin-bottom: 100px;
}
.stage-link {
    display: inline-block;
    width: fit-content;
    font-size: clamp(1px, 3.8vw, 19px);
    font-weight: bold;
    color: #333;
    margin-bottom: clamp(1px, 1.6vw, 8px);
    margin-left: clamp(1px, 15vw, 75px);
}
.stage-link:hover,
.stage-link:active,
.stage-link:visited {
    color: #333;
}
.stage-link.disabled {
    pointer-events: none;
    text-decoration: none;
    color: #666;
}
.top-line {
    width: 100%;
    height: clamp(1px, 1vw, 5px);
    background-color: #333;
    margin-bottom: clamp(1px, 1.6vw, 8px);
}
